* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial, sans-serif;
}

body {
    background: linear-gradient(135deg, #0f172a, #1e293b);
    color: #e5e7eb;
}

/* hero */
.hero {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero h1 {
    font-size: 3rem;
}

.hero p {
    margin: 15px 0;
}

.btn {
    text-decoration: none;
    padding: 12px 30px;
    background: #38bdf8;
    color: #0f172a;
    border-radius: 30px;
    transition: 0.3s;
}

.btn:hover {
    transform: scale(1.1);
    background: #0ea5e9;
}

/* card */
.card {
    background: rgba(255,255,255,0.08);
    margin: 60px auto;
    padding: 50px 10%;
    border-radius: 20px;
    width: 90%;
}

h2 {
    text-align: center;
    margin-bottom: 40px;
}

h2::after {
    content: "";
    width: 60px;
    height: 3px;
    background: #38bdf8;
    display: block;
    margin: 10px auto;
}

/* about */
.about {
    display: flex;
    gap: 30px;
    align-items: center;
}

.about img {
    width: 200px;
    border-radius: 50%;
    transition: 0.4s;
}

.about img:hover {
    transform: rotate(5deg) scale(1.1);
}

/* skills */
.skills {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 20px;
}

.skill-card {
    background: rgba(255,255,255,0.1);
    padding: 25px;
    text-align: center;
    border-radius: 15px;
    transition: 0.4s;
}

.skill-card:hover {
    background: #38bdf8;
    color: #0f172a;
    transform: translateY(-10px);
}

/* education */
.education {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.edu-card {
    flex: 1 1 250px;
    background: rgba(255,255,255,0.1);
    padding: 25px;
    border-radius: 15px;
    transition: 0.4s;
}

.edu-card:hover {
    transform: scale(1.05);
}

/* interests */
.interests {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.interest-card {
    padding: 20px 30px;
    background: rgba(255,255,255,0.1);
    border-radius: 30px;
    transition: 0.3s;
}

.interest-card:hover {
    background: #38bdf8;
    color: #0f172a;
    transform: scale(1.1);
}

/* form */
form {
    max-width: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input, textarea {
    padding: 12px;
    border-radius: 10px;
    border: none;
}

button {
    padding: 12px;
    border-radius: 30px;
    border: none;
    background: #38bdf8;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    transform: scale(1.05);
    background: #0ea5e9;
}

footer {
    text-align: center;
    padding: 20px;
    opacity: 0.7;
}
